.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3333337D;
    backdrop-filter: blur(10px);
    


}
.addBox{
    display: flex;
    flex-direction: column;
    
     width:460px;
     height: 448px;
     border-radius: 30px;
     
     background-color:#fff ;
}
.addBox h4{
    color:#282828;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 500;
    text-align: center;
}
.tilte{
    text-align: right;
    font-weight: 500;
    font-size: 14px;
   margin: 30px 38px 0px 0px ;
   color: #282828;
}
.addBox p{
    font-weight: 500;
    font-size: 14px;
    color: #282828;
    margin: 16px 36px 6px 0;
}
.addBox input{
    background-color: #F2F2F2;
    width:389px;
    height: 42px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 6px 36px 16px 35px;
    padding:10px 0px;
    font-weight: 300px;
    font-size: 14px;
}

.addBox button{
   border: none;
   width: 175px;
   height: 42px;
   /* gap: 10px; */
   padding: 10px;
   border-radius: 10px;
   font-size: 14px;
   margin: 30px 36px 0px 5px;
}
.newRegister{
    color:#fff;
    cursor: pointer;
    background-color: #55A3F0;
    margin-left: 0px;
}
.cancel{
    background-color: #DFDFDF;
    margin-right: 5px;
    color: #282828CC;
}