.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3333337D;
    backdrop-filter: blur(10px);
    


}
.deleteBox{
    display: flex;
   flex-direction: column;
   align-items: center;
    width:472px;
    height: 338px;
    border-radius: 30px;
    
    background-color:#fff ;
}
.deleteBox img{
    width:96px;
    height: 97px;
   margin-top: 45px;
}
.deleteBox p{
    color: #282828;
    font-weight: 400;
    font-size: 20px;
    margin-top: 64px;
}
.deleteBox button{
    margin: 25px;
    width:160px;
    height:41px;
    padding: 10px;
    border: none;
    gap: 10px;
    border-radius: 10px;
}
.delete{
   background-color: #F43F5E;
   color: #fff;
}
