.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:470px ;
    height: 523px;
    background-color: #FFFFFF;
    border-radius: 40px;
   margin: 214px 485px 214px 495px;
   /* padding: 130px 10px; */
}

.icon{
    margin-bottom: 50px;

}
.container img{
    width: 80px;
  height: 84px;
  margin-bottom: 10px;
 
}

.icon p{
  
    font-weight:500;
    font-size: 24px;
    color: #282828;
 
}
.form{
    display: flex;
    flex-direction: column;
}
.form .input{
    border: none;
    background-color: #F2F2F2;
    color: #28282880;
    margin: 10px;
    width: 400px;
    height: 53px;
    border-radius: 15px;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
}
.form button{
    width:400px;
    height:53px;
    background-color: #55A3F0;
    color:#FFFFFF;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    margin: 18px 8px;

}
.form a{
    color: #3A8BED;
    font-size: 16px;
    font-weight: 400;
    margin: 6px 12px;
}
.formik{
    color: #55A3F0;
    margin-top: 15px;
    width: 400px;
    height: 73px;
}