.container{
    display: flex;
width: 145px;
height: 52px;
border-right: 1px solid  #E4E4E4;
padding-right: 16px;
margin: 10px 590px 8px 28px;
}
.container img{
    width: 46px;
    height: 46px;
}
.container div{
    margin-right: 8px;
}
.user{
font-weight: 400;
font-size: 16px;
color: #282828;
text-align: right;
}

.role{
    font-weight: 300;
    font-size: 14px;
    color: #282828;
    text-align: right;
}